.column-button {
background: none; /* Remove background */
border: none; /* Remove border */
padding: 0; /* Remove padding */
margin: 0; /* Remove margin */
cursor: pointer; /* Change cursor to pointer for better UX */
display: flex; /* Center triangle */
align-items: center;
justify-content: center;
}

.button{
  background-color: transparent;
}

